{% extends 'base.html' %}
{% load socialaccount %}
{% block content %}
    <h1>Subscribe to our Newsletter!</h1>
    <form action="" method="post">
          {%csrf_token%}
          {{emailForm.as_p}}
            <button type="submit" class="btn btn-primary" name="submit">Subscribe</button>
    </form>
{% if user.is_authenticated %}
<p>Welcome {{ user.username }}!</p>
{% else %}
<a href="{% provider_login_url 'github' %}">Register with Github</a><br />
<a href="{% provider_login_url 'google' %}">Register with Google</a>
{% endif %}

{% endblock %}